.title-container {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.title-container div {
  padding: 15px;
  border: 1px solid black;
  text-align: center;
  height: 100vh;
}
